__pycache__/
*.pyc
xcelium.d/
waves.shm/
*xrun.log
*.history
.rs_v71349.tstamp
fv/
innovus.cmd
innovus.log
innovus.logv
lc_command.log
lc_output.txt
lc_shell_command.log
parasitics_command.log
power.rpt
pt_shell_command.log
rc_model.bin
streamOut.map
